/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Prompt', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/* VARIÁVEIS */
:root{
  --prompt: 'Prompt', sans-serif;
  --work-sans: 'Work Sans', sans-serif;
  --kanit: 'Kanit', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --azul-principal: #233746;
  --marrom-principal: #b78353;
  --preto-fonte: #11171c;
}
/* VARIÁVEIS */

/* IMPORTAÇÃO DE FONTES*/
@font-face {
	font-family: clear-regular;
	src: url('../fonts/clear sans/regular.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: clear-bold;
	src: url('../fonts/clear sans/bold.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: clear-medium;
	src: url('../fonts/clear sans/medium.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: clear-light;
	src: url('../fonts/clear sans/light.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: clear-thin;
	src: url('../fonts/clear sans/thin.ttf');
	font-style: normal;
	font-weight: normal;
}

/* GERAL */
.large-container, .mid-container{
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
}

.large-container{
    max-width: 1450px;
}

.mid-container{
    max-width: 1307px;
}

.titulo-um{
	text-transform: uppercase;
    margin: 0;
    font-weight: 100;
    font-family: var(--prompt);
    color: var(--preto-fonte);
    font-size: 52px;
    line-height: 50px;
}

.titulo-dois{
	font-weight: 700;
	font-family: var(--prompt);
}

.button-simulacao{
	background-color: var(--marrom-principal);
	color: #fff;
	border: none;
	margin: 0;
	padding: 10px 30px;
	display: inline-block;
    outline: none;
    font-family: var(--work-sans);
}
a:hover, .button-simulacao:hover{
	text-decoration: none;
}
.button-simulacao:hover{
	color: #fff;
}

.hidden{
	display: none;
}
.mobile-element{
	display: none;
}
.desktop-element{
	display: inline-block;
}

li{
	list-style: none;
}
/* GERAL */

/* BODY */
body{}
/* BODY */

/* HEADER */
header{
	position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
}
	header .col-sm-3, header .col-sm-9{
		padding: 0;	
	}
	header .logo{

	}
		header .logo figure{
			margin: 0;
			padding: 24px 0 0;
		}
			header .logo figure img{
				width: 100%;
				max-width: 140px;
			}
	header .navbar{
		padding: 0;
	}
		header .navbar .navbar-collapse{

		}
			header .navbar .navbar-collapse .navbar-ul{
				display: block;
				width: 100%;
				font-size: 0;
				text-align: right;
			}
				header .navbar .navbar-collapse .navbar-ul li{
					display: inline-block;
					width: 100%;
					max-width: 82px;
					height: 65px;
					text-align: center;
					line-height: 65px;
					background-color: #ae7c51;
					border-right: 1px solid #9d6f48;
				}
				header .navbar .navbar-collapse .navbar-ul li:first-child{
					border-radius: 0 0 0 2px;
				}
					header .navbar .navbar-collapse .navbar-ul li a{

					}
						header .navbar .navbar-collapse .navbar-ul li a img{
							width: 100%;
							max-width: 19px;
						}
				header .navbar .navbar-collapse .navbar-ul li.button-menu{
					background-color: var(--preto-fonte);
					border: none;
					max-width: 65px;
					border-radius: 0 0 2px 0;
				}
					header .navbar .navbar-collapse .navbar-ul li.button-menu button{
						display: inline-block;
						width: 100%;
						height: 100%;
						vertical-align: top;
						background-color: transparent;
						border: none;
						padding: 0;
						outline: none;
					}
						header .navbar .navbar-collapse .navbar-ul li.button-menu button img{
							max-width: 28px;
						}
/* HEADER */

/* FOOTER */
/* FOOTER */

/* PÁGINA INICIAL */
.pg-inicial{
	background-color: #f5f5f5;
}
	.pg-inicial .secao-destaque{
		background-color: var(--azul-principal);
		padding: 140px 0 100px;
		display: block;
		/*background-image: url(../img/Fill 1@1,5x.svg);*/
		background-repeat: no-repeat;
		background-position: center;
		background-size: 650px;
	}
		.pg-inicial .secao-destaque article{
		    margin: 26px 0 0;
		}
			.pg-inicial .secao-destaque article h1{
				font-size: 64px;
				line-height: 73px;
				position: relative;
				padding: 22px 0 0;
				color: #fff;
			}
			.pg-inicial .secao-destaque article h1::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				background-color: var(--marrom-principal);
				width: 42px;
				height: 6px;
			}
			.pg-inicial .secao-destaque article p, .pg-inicial .secao-destaque article .seta{
				display: inline-block;
				vertical-align: bottom;
			}
			.pg-inicial .secao-destaque article p{
				font-family: var(--work-sans);
				font-size: 13px;
				color: rgba(255, 255, 255, 0.5);
				max-width: 73.5%;
				line-height: 21px;
				margin: 0;
			}
			.pg-inicial .secao-destaque article .seta{
				margin-left: 7.4%;
			}
				.pg-inicial .secao-destaque article .seta img{
					max-width: 17px;
				}
		.pg-inicial .secao-destaque .simulacao{
			position: relative;
			width: 100%;
			height: 100%;
		}
			.pg-inicial .secao-destaque .simulacao .video{
				position: absolute;
				width: 100%;
				top: 0;
				right: 0;
				z-index: 1;
			}
				.pg-inicial .secao-destaque .simulacao .video iframe{

				}
				.pg-inicial .secao-destaque .simulacao .video video{
					outline: none;
					width: 792.41px;
					height: 420px;
					-webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
					-moz-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
					-ms-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
					-o-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
					box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
				}
			.pg-inicial .secao-destaque .simulacao .div-button-simulacao{
				position: absolute;
				left: -311px;
				bottom: -137px;
			}
				.pg-inicial .secao-destaque .simulacao .div-button-simulacao .button-simulacao{
					padding: 25px 62px;
					text-transform: uppercase;
					font-weight: 300;
					font-size: 16px;
				}
	.pg-inicial .menu-ancora{
		border-bottom: 2px solid rgba(151, 151, 151, 0.2);
		padding: 0 0 10px;
		margin: 100px 0 0;
	}
		.pg-inicial .menu-ancora nav{
			text-align: center;
		}
			.pg-inicial .menu-ancora nav a{
				display: inline-block;
				padding: 0 46px;
				color: rgba(19, 20, 21, 0.5);
				font-size: 14px;
				font-family: var(--work-sans);
			}
	.pg-inicial .secao-ficha-tecnica{

	}
		.pg-inicial .secao-ficha-tecnica ul{
			font-size: 0;
			padding: 70px 22px;
			margin: 0 0;
			border-bottom: 1px solid #ccc;
			width: 100%;
			text-align: center;
		}
			.pg-inicial .secao-ficha-tecnica ul li{
				font-size: 14px;
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				max-width: fit-content;
				text-align: center;
				margin: 0 55px;
			}
			.pg-inicial .secao-ficha-tecnica ul li:first-child{
				max-width: 182px;
			}
				.pg-inicial .secao-ficha-tecnica ul li .titulo-um{
					font-size: 45px;
				}
				.pg-inicial .secao-ficha-tecnica ul li p{
					margin: 0 0 8px;
					color: var(--marrom-principal);
					font-size: 36px;
					font-weight: 600;
					font-family: var(--work-sans);
				}
				.pg-inicial .secao-ficha-tecnica ul li span{
					font-size: 14px;
					font-weight: 600;
					text-transform: uppercase;
				}
	.pg-inicial .secao-plantas{
		margin: 70px 0;
	}
		.pg-inicial .secao-plantas .mid-container{
			font-size: 0;
		}
		.pg-inicial .secao-plantas .div-info-planta, .pg-inicial .secao-plantas .div-plantas{
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
		.pg-inicial .secao-plantas .div-info-planta{
			max-width: 31%;
		}
		.pg-inicial .secao-plantas article{
			margin: 80px 0 0;
		}
			.pg-inicial .secao-plantas article .titulo-um{
				/*font-size: 52px;*/
				max-width: 300px;
				/*line-height: 50px;*/
				color: rgba(17, 23, 28, 0.9);
			}
			.pg-inicial .secao-plantas article p{
				color: rgba(35, 55, 70, 0.5);
				font-size: 12px;
				margin: 20px 0 75px;
				max-width: 370px;
				font-family: var(--work-sans);
				line-height: 21px;
			}
			.pg-inicial .secao-plantas article .planta-diferenciais{

			}
				.pg-inicial .secao-plantas article .planta-diferenciais .titulo-dois{
					color: rgba(56, 74, 87, 0.2);
					font-size: 17px;
					font-weight: 700;
					margin: 0;
				}
				.pg-inicial .secao-plantas article .planta-diferenciais .titulo-um{
					font-size: 30px;
					color: rgba(56, 74, 87, 0.9);
				}
				.pg-inicial .secao-plantas article .planta-diferenciais ul{
					padding: 0;
					font-size: 0;
					margin: 22px 0 0;
				}
					.pg-inicial .secao-plantas article .planta-diferenciais ul li{
						display: inline-block;
						width: 100%;
						max-width: 47%;
						font-size: 12px;
						color: #384A57;
						font-family: var(--work-sans);
						margin: 0 0 25px;
						position: relative;
						padding-left: 40px;
						margin-right: 4.2%;
					}
					.pg-inicial .secao-plantas article .planta-diferenciais ul li:nth-child(even){
						margin-right: 0;
					}
					.pg-inicial .secao-plantas article .planta-diferenciais ul li::before{
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						width: 30px;
						height: 30px;
						display: block;
						background-repeat: no-repeat;
						background-size: 25px;
						background-position: center;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
					.pg-inicial .secao-plantas article .planta-diferenciais ul li:nth-child(1)::before{
						background-image: url('../img/fingerprint.svg');
					}
					.pg-inicial .secao-plantas article .planta-diferenciais ul li:nth-child(2)::before{
						background-image: url('../img/gas.svg');
					}
					.pg-inicial .secao-plantas article .planta-diferenciais ul li:nth-child(3)::before{
						background-image: url('../img/mute.svg');
					}
					.pg-inicial .secao-plantas article .planta-diferenciais ul li:nth-child(4)::before{
						background-image: url('../img/underfloor.svg');
					}
		.pg-inicial .secao-plantas .div-plantas{
			max-width: 69%;
		}
			.pg-inicial .secao-plantas .div-plantas .carrossel-planta{
				/*-webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);*/
				/*-moz-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);*/
				/*-ms-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);*/
				/*-o-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);*/
				/*box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);*/
			}
				.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta{
					position: relative;
					padding: 8px 12px 94px 0;
				}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta{
						background-color: var(--azul-principal);
						color: #fff;
						width: 100%;
						max-width: 267px;
						position: absolute;
						bottom: 32px;
						display: block;
						left: 0px;
						padding: 40px 40px;
						/*-webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						-moz-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						-ms-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						-o-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);*/
						z-index: 1;
					}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta .titulo-dois{
						font-size: 22px;
						color: #fff;
					}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul{
						padding: 0;
						margin: 26px 0 40px;
						border-top: 1px solid rgba(216, 216, 216, 0.23);
						padding: 26px 0 0;
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul li{
							font-family: var(--work-sans);
							color: rgba(255, 255, 255, 0.5);
							font-size: 11px;
							margin: 0 0 20px;
							padding-left: 30px;
							display: block;
							position: relative;
						}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul li::before{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							display: inline-block;
							width: 17px;
							height: 17px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul li.icon-area::before{
							background-image: url('../img/metragem@1,5x%20(1).svg');
						}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul li.icon-quartos::before{
							background-image: url('../img/44@1,5x.svg');
							width: 20px;
							height: 15px;
						}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul li.icon-vagas::before{
							background-image: url('../img/pickup-car@1,5x.svg');
							width: 20px;
							height: 15px;
						}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta .button-planta{
						width: 100%;
						max-width: 230px;
						padding: 10px 0;
						text-align: center;
						display: block;
						margin: 0 auto 10px;
						border: 2px solid var(--marrom-principal);
						color: #fff;
						font-family: var(--work-sans);
						font-size: 11px;
						text-transform: uppercase;
						line-height: 11px;
					}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta .div-button-baixar{

					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta .div-button-baixar .button-baixar{

						}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta .div-button-simulacao{

					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta .div-button-simulacao .button-simulacao{
							margin: 0;
						}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .imagem-planta{
						background-color: #fff;
						border-radius: 2px;
						width: 100%;
						max-width: 750px;
						-webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						-moz-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						-ms-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						-o-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						margin: 0 0 0 auto;
						position: relative;
						padding: 50px 75px 50px 110px;
					}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .titulo-dois{
						color: var(--azul-principal);
						font-size: 24px;
						line-height: 36px;
						margin: 0;
					}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta p{
						color: rgba(35, 55, 70, 0.5);
						font-size: 14px;
						line-height: 16px;
						font-family: var(--roboto);
						margin: 0;
					}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta figure{
						text-align: center;
						margin: 0;
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta figure img{
							width: 100%;
							display: inline-block;
							max-width: 426px;
						}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta{
						padding: 0;
						font-size: 0;
						width: 100%;
						max-width: 354px;
						margin: 24px auto 0;
						border: 1px solid var(--marrom-principal);
						border-radius: 2px;
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta li{
							display: inline-block;
							font-size: 11px;
							line-height: 11px;
							width: 100%;
							max-width: 50%;
							text-align: center;
							text-transform: uppercase;
							font-weight: 500;
							font-family: var(--work-sans);
							color: var(--marrom-principal);
							padding: 10px 0;
							cursor: pointer;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
						}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta li:hover{
							background-color: #f5f5f5;
						}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta li.planta-active{
							background-color: var(--marrom-principal);
							color: #fff;
						}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom{
						position: absolute;
						top: 102px;
						right: 50px;
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom span{
							display: block;
							margin: 0 0 18px;
						}
							.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom span img{
								cursor: pointer;
							}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar{
						position: absolute;
						bottom: 60px;
						right: 50px;
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar .compartilhar{

						}
							.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar .compartilhar img{
								cursor: pointer;
							}
				.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav{
					position: absolute;
					top: 70px;
					left: 96px;
				}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav button{
						width: 44px;
						height: 43px;
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
						outline: none;
						background-image: url(../img/arrowrightbk.svg);
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav button span{}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav .owl-prev{
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						-o-transform: rotate(180deg);
						transform: rotate(180deg);
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav .owl-prev span{}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav .owl-next{}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav .owl-next span{}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav button.disabled{
						-webkit-filter: brightness(0.8);
						-moz-filter: brightness(0.8);
						-ms-filter: brightness(0.8);
						-o-filter: brightness(0.8);
						filter: brightness(0.8);
					}
				.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots{
					position: absolute;
					bottom: 60px;
					right: 10px;
					width: 100%;
					max-width: 750px;
					text-align: center;
				}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots .owl-dot{
						width: 12px;
						height: 12px;
						border: 1px solid #c0c0c0;
						border-radius: 100%;
						outline: none;
						margin: 0 5px;
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots .owl-dot span{}
					.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots .owl-dot.active{
						width: 30px;
						height: 11px;
						border-radius: 6px;
						border-color: var(--marrom-principal);
						background-color: var(--marrom-principal);
					}
						.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots .owl-dot.active span{}
	.pg-inicial .secao-localizacao{
		background-color: #243039;
		min-height: 427px;
	}
		.pg-inicial .secao-localizacao .link-mapa{
			display: block;
			width: 100%;
			background-image: url(../img/mapa.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			min-height: 100%;
			color: #fff;
			padding: 27px 0;
		}
		.pg-inicial .secao-localizacao .link-mapa:hover{
			color: #fff;
		}
			.pg-inicial .secao-localizacao .link-mapa .lugares-proximos{
				background: linear-gradient(314.21deg, #7D593A 0%, #AE7C51 100%);
				width: 100%;
				max-width: 342px;
				padding: 40px 40px 40px 140px;
			}
				.pg-inicial .secao-localizacao .link-mapa .lugares-proximos .titulo-dois{
					font-size: 18px;
					margin: 0;
				}
				.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul{
					margin: 25px 0 0;
					padding: 25px 0 0;
					border-top: 1px solid rgba(216, 216, 216, 0.3);
				}
					.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul li{
						font-family: var(--work-sans);
						font-size: 14px;
						margin: 0 0 20px;
						position: relative;
						padding-left: 26px;
					}
					.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul li:last-child{
						margin: 0;
					}
					.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul li::before{
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						display: inline-flex;
						width: 15px;
						height: 15px;
						background-image: url('../img/Group%206@1,5x.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
		.pg-inicial .secao-localizacao .sobre-localizacao{
			padding: 100px 106px;
		}
			.pg-inicial .secao-localizacao .sobre-localizacao .titulo-um{
				/*font-size: 52px;*/
				color: rgba(255, 255, 255, 0.9);
				/*line-height: 50px;*/
			}
			.pg-inicial .secao-localizacao .sobre-localizacao .icone-localizacao{
				width: 100%;
				max-width: 20px;
				margin: 30px 0 10px;
			}
			.pg-inicial .secao-localizacao .sobre-localizacao .endereco-localizacao{
				color: rgba(183,131,83,0.7);
				font-weight: 400;
				font-family: var(--work-sans);
				margin: 0;
			}
				.pg-inicial .secao-localizacao .sobre-localizacao .endereco-localizacao strong{
					display: block;
					color: var(--marrom-principal);
					font-weight: 600;
				}
			.pg-inicial .secao-localizacao .sobre-localizacao p{
				font-size: 14px;
				color: rgba(255, 255, 255, 0.5);
				font-family: var(--work-sans);
				max-width: 460px;
				margin: 20px 0 0;
			}
	.pg-inicial .secao-diferenciais{

	}
		.pg-inicial .secao-diferenciais .diferenciais{
			padding: 100px 0 180px;
		}
		.pg-inicial .secao-diferenciais .diferenciais::before{
			background-color: #fff;
		}
			.pg-inicial .secao-diferenciais .diferenciais article{
				width: 100%;
				max-width: 465px;
				margin: 0 0 0 auto;
			}
				.pg-inicial .secao-diferenciais .diferenciais article .titulo-dois{
					max-width: 190px;
					font-size: 24px;
					line-height: 26px;
					color: rgba(35, 55, 70, 0.2);
					margin: 0 0 69px;
				}
				.pg-inicial .secao-diferenciais .diferenciais article .icone-diferenciais,
				.pg-inicial .secao-diferenciais .diferenciais article .titulo-um,
				.pg-inicial .secao-diferenciais .diferenciais article p{
					margin-left: 15px !important;
				}
				.pg-inicial .secao-diferenciais .diferenciais article .icone-diferenciais{
					width: 100%;
					max-width: 40px;
				}
				.pg-inicial .secao-diferenciais .diferenciais article .titulo-um{
					color: rgba(17, 23, 28, 0.9);
					/*font-size: 52px;*/
					/*line-height: 50px;*/
					margin: 20px 0;
				}
				.pg-inicial .secao-diferenciais .diferenciais article p{
					font-size: 12px;
					line-height: 21px;
					color: rgba(35, 55, 70, 0.5);
					font-family: var(--work-sans);
					margin: 0 0 30px;
					max-width: 415px;
				}
				.pg-inicial .secao-diferenciais .diferenciais article ul{
					margin: 0;
					padding: 0;
					font-size: 0;
				}
					.pg-inicial .secao-diferenciais .diferenciais article ul li{
						display: inline-block;
						width: 100%;
						max-width: 50%;
					}
						.pg-inicial .secao-diferenciais .diferenciais article ul li p{
							font-size: 12px;
							padding: 10px 15px;
							color: rgba(36, 48, 57, 0.5);
							font-family: var(--work-sans);
							margin: 0 !important;
							display: inline-block;
							cursor: pointer;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
						}
						.pg-inicial .secao-diferenciais .diferenciais article ul li p:hover{
							background-color: #ae7c51;
							color: #fff;
							-webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							-moz-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							-ms-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							-o-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						}
						.pg-inicial .secao-diferenciais .diferenciais article ul li p.diferencial-active{
							background-color: #ae7c51;
							color: #fff;
							-webkit-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							-moz-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							-ms-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							-o-box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
							box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
						}
			.pg-inicial .secao-diferenciais .diferenciais .carrossel-diferenciais{

			}
				.pg-inicial .secao-diferenciais .diferenciais .carrossel-diferenciais figure{
					margin: 20px 0 0;
					text-align: center;
				}
					.pg-inicial .secao-diferenciais .diferenciais .carrossel-diferenciais figure img{
						max-width: 670px;
						width: 100%;
						display: inline-block;
					}
	.pg-inicial .secao-aplicativo{
		background-color: #7d593a;
		height: 505px;
	}
		.pg-inicial .secao-aplicativo .large-container{
			height: 100%;
		}
		.pg-inicial .secao-aplicativo .aplicativo{
			background: linear-gradient(278.02deg, #7D593A 0%, #7D593A 3.49%, #AE7C51 100%);
			height: 100%;
			position: relative;
			font-size: 0;
		}
		.pg-inicial .secao-aplicativo .aplicativo::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 370px;
			height: 100%;
			display: inline-block;
			background-image: url('../img/Fill 1@1,5x.svg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
			.pg-inicial .secao-aplicativo .aplicativo .div-imagem-celular, .pg-inicial .secao-aplicativo .aplicativo .div-sobre-aplicativo{
				display: inline-block;
				width: 100%;
				vertical-align: top;
			}
			.pg-inicial .secao-aplicativo .aplicativo .div-imagem-celular{
				max-width: 45%;
				position: relative;
				z-index: 1;
			}
			.pg-inicial .secao-aplicativo .aplicativo figure{
				margin: 0;
				position: relative;
				z-index: 1;
				-webkit-transform: translateY(-110px);
				-moz-transform: translateY(-110px);
				-ms-transform: translateY(-110px);
				-o-transform: translateY(-110px);
				transform: translateY(-110px);
			}
				.pg-inicial .secao-aplicativo .aplicativo figure img{
					width: 100%;
					max-width: 455px;
					display: block;
					margin: 0 22px 0 auto;
				}
			.pg-inicial .secao-aplicativo .aplicativo .div-sobre-aplicativo{
				max-width: 55%;
			}
			.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo{
				padding: 108px 0 0;
			}
				.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo .titulo-um{
					/*font-size: 52px;*/
					/*line-height: 50px;*/
					color: rgba(229, 234, 234, 0.9);
				}
				.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo p{
					color: rgba(255, 255, 255, 0.5);
					max-width: 500px;
					font-size: 14px;
					font-family: var(--work-sans);
					margin: 20px 0 40px;
				}
				.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo .icones-app-store{

				}
					.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo .icones-app-store a{
						display: inline-block;
						margin-right: 10px;
					}
						.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo .icones-app-store a img{
							width: auto;
							height: 40px;
						}
	.pg-inicial .secao-sobre-atr{

	}
		.pg-inicial .secao-sobre-atr .sobre-atr{
			padding: 150px 0;
		}
		.pg-inicial .secao-sobre-atr .sobre-atr::before{
			background-color: #fff;
		}
			.pg-inicial .secao-sobre-atr .sobre-atr article{
				max-width: 840px;
				width: 100%;
				margin: 0 0 0 auto;
			}
				.pg-inicial .secao-sobre-atr .sobre-atr article img{
					width: 100%;
					max-width: 30px;
				}
				.pg-inicial .secao-sobre-atr .sobre-atr article .titulo-um{
					margin: 25px 0 10px;
					max-width: 645px;
					width: 100%;
				}
				.pg-inicial .secao-sobre-atr .sobre-atr article .titulo-dois{
					color: rgba(4, 40, 69, 0.5);
					width: 100%;
					max-width: 530px;
					margin: 0;
					line-height: 19px;
				}
				.pg-inicial .secao-sobre-atr .sobre-atr article .descricao{
					font-size: 0;
					font-family: var(--work-sans);
					margin: 29px 0 25px;
				}
					.pg-inicial .secao-sobre-atr .sobre-atr article .descricao span, .pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul{
						display: inline-block;
						vertical-align: top;
						width: 100%;
					}
					.pg-inicial .secao-sobre-atr .sobre-atr article .descricao span{
						max-width: 42.7%;
						color: rgba(0, 0, 0, 0.5);
						font-size: 12px;
						line-height: 21px;
					}
					.pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul{
						padding-left: 10px;
						max-width: 40%;
						margin: 0;
					}
						.pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul li{
							font-size: 14px;
							color: #000;
							line-height: 16px;
							margin: 0 0 20px auto;
							width: 100%;
							max-width: 292px;
							position: relative;
							padding-left: 28px;
						}
						.pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul li:last-child{
							margin: 0 0 0 auto;
						}
						.pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul li::before{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							display: block;
							width: 16px;
							height: 16px;
							background-image: url('../img/check.svg');
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
				.pg-inicial .secao-sobre-atr .sobre-atr article .button-simulacao{
					text-transform: uppercase;
					font-size: 12px;
					padding: 10px 60px;
				}
			.pg-inicial .secao-sobre-atr .sobre-atr figure{
				margin: 0;
				position: absolute;
				top: -85px;
				left: -118px;
				z-index: 1;
			}
				.pg-inicial .secao-sobre-atr .sobre-atr figure img{
				    width: 100%;
    				max-width: 460px;
				}
			.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr{
				position: absolute;
				display: block;
				z-index: 1;
			}
				.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr img{
					width: 100%;
					max-width: 100px;
				}
			.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-right{
				top: -30px;
				right: 138px;
			}
				.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-right img{}
			.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left{
				bottom: -62px;
				left: -73px;
			}
				.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left img{
					max-width: 90px;
				}
	.pg-inicial .secao-estagios-obra{
		background-color: #182026;
	}
		.pg-inicial .secao-estagios-obra .before-fundo{
			padding: 90px 0;
		}
		.pg-inicial .secao-estagios-obra .before-fundo::before{
			background: linear-gradient(272deg, #182026 0%, #243039 100%);
		}
		.pg-inicial .secao-estagios-obra article{
			color: #fff;
			position: relative;
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
		}
			.pg-inicial .secao-estagios-obra article .titulo-um{
				color: rgba(229, 234, 234, 0.9);
			}
			.pg-inicial .secao-estagios-obra article p{
				font-family: var(--work-sans);
				font-size: 14px;
				line-height: 21px;
				color: rgba(255, 255, 255, 0.5);
				max-width: 640px;
				margin: 20px 0 0;
			}
		.pg-inicial .secao-estagios-obra .menu-estagios-obra{
			font-size: 0;
			width: 100%;
			max-width: 1200px;
			margin: 40px auto 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
			.pg-inicial .secao-estagios-obra .menu-estagios-obra a{
				position: relative;
				color: rgba(255, 255, 255, 0.3);
				font-family: var(--work-sans);
				font-size: 14px;
				line-height: 16px;
				padding: 0 5px 10px;
				border-bottom: 4px solid transparent;
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
			}
			.pg-inicial .secao-estagios-obra .menu-estagios-obra a:hover{
				/*border-bottom: 4px solid var(--marrom-principal);*/
				color: #fff;
			}
			.pg-inicial .secao-estagios-obra .menu-estagios-obra a.estagio-ativo{
				border-bottom: 4px solid var(--marrom-principal);
				color: #fff;
			}
		.pg-inicial .secao-estagios-obra hr{
			position: relative;
			background-color: rgba(216, 216, 216, 0.2);
			margin: 0;
		}
		.pg-inicial .secao-estagios-obra .carrossel-estagios-obra{
			margin: 75px 0 0;
		}
			.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra{

			}
				.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .estagios-obra-container{
					width: 100%;
					max-width: 1030px;
					margin: 0 auto;
					display: block;
				}
				.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio{
					max-width: 481px;
					margin: 0;
				}
					.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .titulo-dois{
						margin: 0;
						font-size: 24px;
						line-height: 36px;
					}
					.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio p{
						margin: 20px 0 40px;
					}
					.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .div-progresso{
						font-size: 0;
					}
						.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .div-progresso .titulo-dois, .pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .div-progresso .porcentagem{
							display: inline-block;
							width: 100%;
							max-width: 50%;
						}
						.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .div-progresso .titulo-dois{
							font-size: 14px;
							line-height: 21px;
						}
						.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .div-progresso .porcentagem{
							font-family: var(--prompt);
							font-size: 14px;
							line-height: 21px;
							font-weight: 500;
							text-align: right;
						}
						.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .div-progresso .barra-progresso-full{
							display: block;
							width: 100%;
							height: 10px;
							background-color: rgba(229, 234, 234, 0.1);
							border-radius: 10px;
							box-shadow: inset 0 0 3px -1px rgba(0,0,0,0.29);
							margin: 15px 0 0;
						}
							.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio .div-progresso .barra-progresso-full .barra-progresso{
								display: block;
								height: 10px;
								width: 100%;
								max-width: 75%;
								border-radius: 10px;
								background: linear-gradient(200.97deg, #865A34 0%, #6C4F36 15.79%, #855B35 100%);
								box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
							}
				.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra figure{
					margin: 0;
					text-align: right;
					padding-left: 10px;
				}
					.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra figure img{
						width: 100%;
						max-width: 460px;
						display: inline-block;
					}
	.pg-inicial .secao-contato{
		background-color: #243039;
		padding: 0 0 52px;
	}
		.pg-inicial .secao-contato article{
			background-color: #f5f5f5;
			height: 100%;
			padding: 100px 75px 150px 110px;
		}
			.pg-inicial .secao-contato article .titulo-um{

			}
			.pg-inicial .secao-contato article p{
				font-size: 12px;
				line-height: 21px;
				color: rgba(0, 0, 0, 0.5);
				font-family: var(--work-sans);
				margin: 20px 0 0;
			}
		.pg-inicial .secao-contato form{
			font-size: 0;
			height: 100%;
		}
			.pg-inicial .secao-contato form .secao-inputs, .pg-inicial .secao-contato form .modo-contato{
				display: inline-block;
				width: 100%;
				height: 100%;
				vertical-align: top;
			}
			.pg-inicial .secao-contato form .secao-inputs{
				max-width: 46%;
				background: linear-gradient(292.02deg, #7D593A 0%, #AE7C51 100%);
				box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);
				padding: 75px;
			}
				.pg-inicial .secao-contato form .secao-inputs label{
					display: block;
					margin: 0 0 37px;
				}
				.pg-inicial .secao-contato form .secao-inputs label:last-child{
					margin: 0;
				}
					.pg-inicial .secao-contato form .secao-inputs label input{
						font-size: 16px;
						line-height: 19px;
						display: block;
						width: 100%;
						background-color: transparent;
						border: none;
						border-bottom: 1px solid rgba(255, 255, 255, 0.5);
						outline: none;
						padding: 0 5px 20px;
						color: #E5EAEA;
						margin: 0 0 7px;
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
					}
					.pg-inicial .secao-contato form .secao-inputs label input:focus{
						border-color: #fff;
					}
					.pg-inicial .secao-contato form .secao-inputs label input:focus::placeholder{
						color: #e5eaea;
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
					}
					.pg-inicial .secao-contato form .secao-inputs label input::placeholder{
						color: rgba(229, 234, 234, 0.5);
					}
					.pg-inicial .secao-contato form .secao-inputs label .span-label-input{
						font-size: 12px;
						line-height: 14px;
						display: block;
						color: #e5eaea;
						padding: 0 5px;
					}
			.pg-inicial .secao-contato form .modo-contato{
				max-width: 54%;
				padding: 75px;
				/*box-shadow: 0 4px 14px 0 rgba(0,0,0,0.09);*/
			}
				.pg-inicial .secao-contato form .modo-contato .titulo-dois{
					font-size: 20px;
					color: #fff;
					margin: 0 0 25px;
					font-weight: 500;
				}
				.pg-inicial .secao-contato form .modo-contato label{
					margin: 0;
				}
					.pg-inicial .secao-contato form .modo-contato label input{
						visibility: hidden;
						position: absolute;
					}
					.pg-inicial .secao-contato form .modo-contato label input:checked + .span-label-radio::before{
						background-color: #fff;
					}
					.pg-inicial .secao-contato form .modo-contato label .span-label-radio{
						font-size: 12px;
						line-height: 18px;
						color: #e5eaea;
						position: relative;
						padding-left: 20px;
						margin-right: 55px;
						font-family: var(--kanit);
					}
					.pg-inicial .secao-contato form .modo-contato label[for="radio-telefone"] .span-label-radio{
						margin-right: 0;
					}
					.pg-inicial .secao-contato form .modo-contato label .span-label-radio::before{
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						display: block;
						width: 15px;
						height: 15px;
						border: 1px solid #fff;
						border-radius: 100%;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				.pg-inicial .secao-contato form .modo-contato .div-button-interesse{
					margin: 135px 0 0;
				}
					.pg-inicial .secao-contato form .modo-contato .div-button-interesse .button-interesse{
						font-size: 14px;
						line-height: 16px;
						border: 2px solid rgba(255, 255, 255, 0.5);
						background-color: transparent;
						color: #fff;
						text-transform: uppercase;
						font-family: var(--work-sans);
						outline: none;
						font-weight: 500;
						padding: 14px 24px;
						border-radius: 2px;
					}
	.pg-inicial .div-contato-fixo{
		background-color: var(--azul-principal);
		position: fixed;
		bottom: 0;
		display: block;
		width: 100%;
		z-index: 5;
	}
		.pg-inicial .div-contato-fixo .col-sm-3, .pg-inicial .div-contato-fixo .col-sm-6{
			background-color: #141c21;
			padding: 0;
		}
		.pg-inicial .div-contato-fixo p{
			color: #e5eaea;
			padding: 19px 0;
			font-family: var(--work-sans);
			font-size: 13px;
			line-height: 14px;
			width: 100%;
			max-width: 245px;
			margin: 0 0 0 auto;
		}
		.pg-inicial .div-contato-fixo ul{
			font-size: 0;
			margin: 0;
			padding: 15px 0;
		}
			.pg-inicial .div-contato-fixo ul li{
				display: inline-block;
				font-size: 15px;
			}
				.pg-inicial .div-contato-fixo ul li a{
					color: #fff;
					font-family: clear-light;
					font-size: 13px;
					position: relative;
					padding-left: 28px;
					margin-right: 54px;
				}
				.pg-inicial .div-contato-fixo ul li:last-child a{
					margin-right: 0;
				}
				.pg-inicial .div-contato-fixo ul li a::before{
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					display: block;
					width: 20px;
					height: 20px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				.pg-inicial .div-contato-fixo ul li:nth-child(1) a::before{
					background-image: url('../img/telefone.svg');
				}
				.pg-inicial .div-contato-fixo ul li:nth-child(2) a::before{
					background-image: url('../img/email.svg');
					width: 17px;
					height: 14px;
				}
				.pg-inicial .div-contato-fixo ul li:nth-child(3) a::before{
					background-image: url('../img/videocall.svg');
					width: 19px;
					height: 14px;
				}
				.pg-inicial .div-contato-fixo ul li:nth-child(4) a::before{
					background-image: url('../img/zap.svg');
					width: 18px;
					height: 18px;
				}
					.pg-inicial .div-contato-fixo ul li:nth-child(3) a img{
						max-width: 25px;
					}
					.pg-inicial .div-contato-fixo ul li a img{
						width: 100%;
						max-width: 22px;
					}
		.pg-inicial .div-contato-fixo .div-button-simulacao{

		}
			.pg-inicial .div-contato-fixo .div-button-simulacao .button-simulacao{
				display: block;
				text-transform: uppercase;
				font-size: 12px;
				font-family: clear-regular;
				line-height: 16px;
				padding: 18px 30px;
			}
/* PÁGINA INICIAL 

/* EXTRAS */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding: 0;
}
.row{
	margin: 0;
}
.before-fundo{
	position: relative;
}
.before-fundo::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1098px;
	height: 100%;
}
/* EXTRAS */

/* MEDIA QUERY */
@media(max-width: 1366px){
	.pg-inicial .secao-destaque .simulacao .video video {
		width: 100%;
	}
	.pg-inicial .div-contato-fixo ul li a {
		margin-right: 38px;
	}
}

@media(max-width: 1320px){
	.pg-inicial .secao-sobre-atr .sobre-atr figure img {
		max-width: 390px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-right {
		top: -40px;
		right: 150px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left {
		bottom: 14px;
		left: -90px;
	}
	.pg-inicial .secao-contato article {
		padding: 95px 75px 150px 80px;
	}
}

@media(max-width: 1300px){
	.large-container, .mid-container{
		padding: 0 30px;
	}
	.pg-inicial .div-contato-fixo .large-container{
		padding: 0;
	}
	.pg-inicial .secao-sobre-atr .large-container{
		padding: 0;
	}
	.pg-inicial .secao-estagios-obra .large-container{
		padding: 0;	
	}
	.pg-inicial .secao-estagios-obra .before-fundo {
		padding: 90px 30px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr {
		padding: 150px 30px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta {
		max-width: 257px;
		padding: 30px 30px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .imagem-planta {
		max-width: 690px;
		padding: 50px 75px 50px 97px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta figure img {
		max-width: 376px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots {
		max-width: 690px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav {
		top: 66px;
		left: 100px;
	}
	.pg-inicial .secao-diferenciais .large-container{
		padding: 0;
	}
	.pg-inicial .secao-contato .large-container{
		padding: 0;
	}
}

@media(max-width: 1270px){
	.pg-inicial .secao-contato form .modo-contato label .span-label-radio {
		margin-right: 30px;
	}
	.pg-inicial .secao-contato article {
		padding: 90px 70px 150px;
	}
	.pg-inicial .secao-contato article .titulo-um {
		font-size: 47px;
		line-height: 45px;
	}
	.pg-inicial .div-contato-fixo ul li a {
		margin-right: 24px;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 0 36px;
	}
}

@media(max-width: 1220px){
	.pg-inicial .secao-ficha-tecnica ul li {
		margin: 0 40px;
	}
}

@media(max-width: 1200px){
	.pg-inicial .secao-localizacao .link-mapa {
		background-position: 73%;
	}
	.pg-inicial .secao-localizacao .sobre-localizacao {
		padding: 100px 75px;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos {
		max-width: 300px;
		padding: 40px 40px 40px 80px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr figure {
		top: -85px;
		left: -40px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-right {
		top: -40px;
		right: 6px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left {
		bottom: 23px;
		left: -13px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul {
		margin: 16px 0 30px;
		padding: 20px 0 0;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta .titulo-dois {
		font-size: 18px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta {
		max-width: 237px;
		padding: 30px 30px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .imagem-planta {
		max-width: 610px;
		padding: 50px 70px;
	}
	.pg-inicial .secao-plantas article {
		margin: 40px 0 0;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav {
		top: 65px;
		left: 108px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav button {
		width: 40px;
		height: 39px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta figure img {
		max-width: 326px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots {
		max-width: 610px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta {
		max-width: 274px;
	}
	.pg-inicial .secao-diferenciais .diferenciais .row{
		align-items: flex-end;
	}
	.pg-inicial .secao-diferenciais .diferenciais .carrossel-diferenciais {
		padding-left: 10px;
	}
}

@media(max-width: 1180px){
	.pg-inicial .div-contato-fixo ul li a {
		margin-right: 14px;
	}
}

@media(max-width: 1130px){
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav {
		left: 71px;
	}
	.pg-inicial .secao-contato form .secao-inputs {
		padding: 65px 55px;
	}
	.pg-inicial .secao-contato form .modo-contato {
		padding: 65px 55px;
	}
	.pg-inicial .secao-contato article {
		padding: 81px 60px 140px;
	}
	.pg-inicial .secao-contato article .titulo-um {
		font-size: 40px;
		line-height: 42px;
	}
	.pg-inicial .div-contato-fixo ul li a {
		margin-right: 8px;
		padding-left: 23px;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 0 26px;
	}
}

@media(max-width: 1090px){
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav {
		left: 79px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta {
		max-width: 200px;
		padding: 20px 20px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .imagem-planta {
		max-width: 580px;
		padding: 50px 70px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta figure img {
		max-width: 306px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots {
		max-width: 580px;
	}
	.pg-inicial .secao-plantas article p {
		margin: 20px 0 35px;
	}
}

@media(max-width: 1070px){
	.pg-inicial .secao-aplicativo {
		height: 425px;
	}
	.pg-inicial .secao-aplicativo .aplicativo .div-imagem-celular {
		max-width: 47%;
	}
	.pg-inicial .secao-aplicativo .aplicativo figure {
		-webkit-transform: translateY(-67px);
		-moz-transform: translateY(-67px);
		-ms-transform: translateY(-67px);
		-o-transform: translateY(-67px);
		transform: translateY(-67px);
	}
	.pg-inicial .secao-aplicativo .aplicativo figure img {
		max-width: 340px;
		margin: 0 0 0 auto;
	}
	.pg-inicial .secao-aplicativo .aplicativo .div-sobre-aplicativo {
		max-width: 53%;
	}
	.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo {
		padding: 68px 0 0;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr {
		padding: 50px 30px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr article .titulo-um {
		margin: 15px 0 10px;
		max-width: 535px;
		font-size: 44px;
		line-height: 45px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr figure {
		position: initial;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-right {
		top: 21px;
		right: -9px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left {
		bottom: 118px;
		left: 30px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr img {
		width: 100%;
		max-width: 80px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left img {
		max-width: 70px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .row{
		align-items: center;
	}
	.pg-inicial .secao-ficha-tecnica ul li {
		margin: 0 28px;
	}
}

@media(max-width: 1040px){
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav {
		left: 44px;
	}
	.pg-inicial .div-contato-fixo ul li a.desktop-element, .pg-inicial .div-contato-fixo ul li a::before{
		display: none;
	}
	.pg-inicial .div-contato-fixo ul li a.mobile-element{
		display: block;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.pg-inicial .div-contato-fixo ul li {
		width: 100%;
		max-width: 25%;
		vertical-align: middle;
	}
}

@media(max-width: 1020px){
	.pg-inicial .secao-destaque .simulacao .video video {
		height: 385px;
	}
	.pg-inicial .secao-destaque article h1 {
		font-size: 52px;
		line-height: 58px;
	}
	.pg-inicial .secao-contato article {
		padding: 80px 50px 120px;
	}
	.pg-inicial .secao-contato form .secao-inputs {
		padding: 60px 45px;
	}
	.pg-inicial .secao-contato form .modo-contato {
		padding: 60px 45px;
	}
}

@media(max-width: 991px){
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos {
		max-width: 100%;
		padding: 35px 50px 35px;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul li {
		margin: 0 0 10px;
		display: inline-block;
		width: 100%;
		max-width: 49%;
	}
	.pg-inicial .secao-localizacao .link-mapa {
		background-position: 81% 30px;
		padding: 0 0 0;
	}
	.titulo-um {
		font-size: 42px;
		line-height: 44px;
	}
	.pg-inicial .secao-localizacao .sobre-localizacao {
		padding: 100px 65px;
	}
	.pg-inicial .secao-plantas {
		margin: 50px 0;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta {
		padding: 8px 12px 20px 0;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta, .pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .imagem-planta {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta {
		position: initial;
		max-width: 31.77%;
		padding: 32px 30px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .imagem-planta {
		padding: 35px 40px 32px;
		max-width: 68.23%;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .titulo-dois {
		font-size: 20px;
		line-height: 36px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta p {
		font-size: 13px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta figure img {
		max-width: 326px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta {
		max-width: 274px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta li {
		padding: 8px 0;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom {
		top: 82px;
		right: 35px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar {
		bottom: 33px;
		right: 35px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav {
		left: unset;
		right: 12px;
		top: 8px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-dots {
		max-width: 100%;
		bottom: -7px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .owl-nav button {
		width: 35px;
		height: 34px;
	}
	.pg-inicial .secao-plantas .div-info-planta {
		max-width: 100%;
	}
	.pg-inicial .secao-plantas .div-plantas {
		max-width: 100%;
	}
	.pg-inicial .secao-plantas article {
		margin: 0;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul {
		margin: 22px 0 34px;
		padding: 32px 0 0;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta ul li {
		margin: 0 0 25px;
	}
	.pg-inicial .secao-diferenciais .diferenciais article ul li p {
		font-size: 11px;
	}
	.pg-inicial .secao-diferenciais .diferenciais article .titulo-dois {
		margin: 0 0 38px;
	}
	.pg-inicial .secao-diferenciais .diferenciais {
		padding: 60px 0 110px;
	}
	.pg-inicial .secao-aplicativo .aplicativo {
		padding: 0 30px;
	}
	.pg-inicial .secao-aplicativo .large-container {
		padding: 0;
	}
	.pg-inicial .secao-contato form .modo-contato label .span-label-radio {
		margin-right: 15px;
	}
	.pg-inicial .secao-contato form .modo-contato {
		padding: 55px 30px;
	}
	.pg-inicial .secao-contato form .secao-inputs {
		padding: 55px 30px;
	}
	.pg-inicial .secao-contato article {
		padding: 80px 30px 120px;
	}
	.pg-inicial .secao-ficha-tecnica ul {
		padding: 70px 0;
	}
	.pg-inicial .secao-ficha-tecnica ul li {
		margin: 0 15px;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 0 10px;
	}
}

@media(max-width: 860px){
	.pg-inicial .secao-destaque .simulacao .div-button-simulacao {
		position: initial;
		left: 50%;
		bottom: -100px;
		display: block;
		width: 100%;
		text-align: right;
		margin: 10px 0 0;
	}
	.pg-inicial .secao-destaque .simulacao .div-button-simulacao .button-simulacao {
		padding: 18px 62px;
		font-size: 14px;
	}
	.pg-inicial .secao-destaque .simulacao .video video {
		height: 290px;
	}
	.pg-inicial .secao-destaque .simulacao .video {
		position: initial;
	}
	.pg-inicial .secao-destaque article h1 {
		font-size: 48px;
		line-height: 56px;
	}
	.pg-inicial .secao-destaque article p {
		font-size: 13px;
		max-width: 100%;
		margin: 10px 0 30px;
	}
	.pg-inicial .secao-destaque article .seta {
		margin-left: 0;
	}
	.pg-inicial .secao-destaque article {
		padding: 0 10px 0 0;
	}
	.pg-inicial .secao-destaque {
		padding: 110px 0 15px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr {
		padding: 70px 30px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-right {
		top: 21px;
		right: -9px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr img {
		width: 100%;
		max-width: 70px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left {
		bottom: 93px;
		left: 20px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr .logo-atr-left img {
		max-width: 60px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr article .titulo-um {
		max-width: 445px;
		font-size: 36px;
		line-height: 38px;
	}
	.pg-inicial .menu-ancora {
		margin: 40px 0 0;
	}
}

@media(max-width: 802px){
	.pg-inicial .secao-destaque article h1 {
		font-size: 42px;
		line-height: 46px;
	}
	.pg-inicial .secao-localizacao .sobre-localizacao {
		padding: 100px 28px;
	}
	.pg-inicial .div-contato-fixo p {
		text-align: center;
	}
	.pg-inicial .div-contato-fixo .div-button-simulacao .button-simulacao {
		font-size: 11px;
		padding: 18px 15px;
	}
}

@media(max-width: 768px){
	.mobile-element{
		display: inline-block;
	}
	.desktop-element{
		display: none !important;
	}
	.pg-inicial .secao-destaque article .seta{
		display: none;
	}
	.pg-inicial .div-contato-fixo{
		/*display: none;*/
	}
	.pg-inicial .secao-destaque article .div-button-simulacao{
		margin: 0 0 30px;
	}
	.pg-inicial .secao-destaque article .button-simulacao{
		padding: 18px 62px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 300;
	}
	.pg-inicial .secao-localizacao .sobre-localizacao {
		padding: 45px 0;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos {
		max-width: 260px;
		padding: 35px 50px 35px;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul li {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	.pg-inicial .secao-localizacao .link-mapa {
		background-position: center;
		padding: 10px 0;
		min-height: 360px;
	}
	.pg-inicial .secao-aplicativo {
		height: 505px;
	}
	.pg-inicial .secao-aplicativo .aplicativo .div-imagem-celular {
		max-width: 50%;
	}
	.pg-inicial .secao-aplicativo .aplicativo figure {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.pg-inicial .secao-aplicativo .aplicativo figure img {
		max-width: 308px;
	}
	.pg-inicial .secao-aplicativo .aplicativo .div-sobre-aplicativo {
		max-width: 50%;
	}
	.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo {
		padding: 95px 0 0;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr figure, .pg-inicial .secao-sobre-atr .sobre-atr .logo-atr{
		display: none;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul {
		max-width: 50%;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr article .descricao span {
		max-width: 50%;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr {
		padding: 50px 30px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta {
		padding: 8px 12px 20px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .sobre-planta {
		display: none;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .imagem-planta {
		padding: 35px 40px 32px;
		max-width: 100%;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta figure img {
		max-width: 366px;
	}
	.pg-inicial .secao-diferenciais .diferenciais article {
		margin: 0;
	}
	.pg-inicial .secao-diferenciais .diferenciais .carrossel-diferenciais {
		padding-left: 0;
	}
	.pg-inicial .secao-diferenciais .diferenciais {
		padding: 50px 0;
	}
	.pg-inicial .secao-contato article {
		padding: 50px 30px;
		height: unset;
	}
	.pg-inicial .div-contato-fixo p {
		font-size: 11px;
	}
	.pg-inicial .div-contato-fixo .div-button-simulacao .button-simulacao {
		padding: 18px 10px;
	}
	.pg-inicial .secao-ficha-tecnica ul {
		padding: 50px 0;
	}
	.pg-inicial .secao-ficha-tecnica ul li:first-child {
		max-width: 100%;
		margin: 0 0 18px;
	}
	.pg-inicial .secao-ficha-tecnica ul li .titulo-um {
		max-width: 182px;
		margin: 0 auto;
		text-align: center;
	}
	.pg-inicial .secao-ficha-tecnica ul li {
		margin: 0 0;
		max-width: 25%;
	}
	.pg-inicial .secao-ficha-tecnica ul {
		padding: 50px 0;
	}
	.pg-inicial .secao-ficha-tecnica ul li p {
		margin: 0 0 0px;
		font-size: 30px;
	}
	.pg-inicial .secao-ficha-tecnica ul li span {
		font-size: 13px;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 0 5px;
	}
	header .navbar .navbar-collapse .navbar-ul li {
		max-width: 68px;
		height: 58px;
		line-height: 58px;
	}
	header .navbar .navbar-collapse .navbar-ul li.button-menu {
		max-width: 56px;
	}
	.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra .sobre-estagio {
		margin: 0 auto;
	}
	.pg-inicial .secao-estagios-obra .carrossel-estagios-obra .item-estagios-obra figure {
		padding: 0;
		text-align: center;
		margin: 20px 0 0;
	}
	.pg-inicial .secao-estagios-obra .carrossel-estagios-obra {
		margin: 30px 0 0;
	}
	.pg-inicial .secao-estagios-obra .before-fundo {
		padding: 50px 30px;
	}
	.pg-inicial .secao-estagios-obra .menu-estagios-obra {
		justify-content: center;
	}
}

@media(max-width: 600px){
	.pg-inicial .secao-aplicativo .aplicativo::before{
		display: none;
	}
	.pg-inicial .secao-aplicativo {
		height: unset;
	}
	.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo {
		padding: 50px 0;
	}
	.pg-inicial .secao-aplicativo .aplicativo .div-sobre-aplicativo {
		max-width: 100%;
	}
	.pg-inicial .secao-aplicativo .aplicativo .div-imagem-celular {
		display: none;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta ul.menu-planta {
		margin: 18px auto 14px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom, .pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar {
		position: initial;
		display: inline-block;
		width: 100%;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom {
		max-width: 17%;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom span {
		display: inline-block;
		margin: 0;
		width: 100%;
		max-width: 50%;
	}	
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom span img {
		width: 100%;
		max-width: 15px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar {
		max-width: 83%;
		text-align: right;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar .compartilhar {
		display: inline-block;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar .compartilhar img {
		width: 100%;
		max-width: 15px;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 5px 25px;
	}
}

@media(max-width: 575px){
	.pg-inicial .div-contato-fixo .col-sm-3{
		display: none;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 5px 19px;
	}
	header .navbar {
		display: none;
	}
}

@media(max-width: 530px){
	.pg-inicial .secao-contato form .secao-inputs {
		padding: 30px;
		max-width: 100%;
		height: unset;
	}
	.pg-inicial .secao-contato form .modo-contato {
		padding: 30px;
		max-width: 100%;
		height: unset;
	}
	.pg-inicial .secao-ficha-tecnica ul {
		padding: 50px 0 35px;
	}
	.pg-inicial .secao-ficha-tecnica ul li {
		margin: 0 0 15px;
		max-width: 50%;
	}
}

@media(max-width: 520px){
	.pg-inicial .secao-localizacao .link-mapa {
		background-position: 73%;
		min-height: 325px;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos {
		max-width: 220px;
		padding: 25px 30px;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul {
		margin: 20px 0 0;
		padding: 20px 0 0;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos .titulo-dois {
		font-size: 16px;
	}
	.titulo-um {
		font-size: 37px;
		line-height: 40px;
	}
	.pg-inicial .secao-localizacao .sobre-localizacao .icone-localizacao {
		margin: 22px 0 6px;
	}
}

@media(max-width: 500px){
	.pg-inicial .secao-sobre-atr .sobre-atr article .descricao {
		margin: 20px 0 30px;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr article .descricao span {
		max-width: 100%;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul {
		max-width: 100%;
		padding: 0;
		margin: 20px 0 0;
	}
	.pg-inicial .secao-sobre-atr .sobre-atr article .descricao ul li {
		max-width: 100%;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 5px 13px;
	}
}

@media(max-width: 400px){
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos .titulo-dois {
		font-size: 15px;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos {
		max-width: 175px;
		padding: 25px 20px;
	}
	.pg-inicial .secao-localizacao .link-mapa .lugares-proximos ul li {
		font-size: 13px;
	}
	.pg-inicial .secao-localizacao .link-mapa {
		min-height: 310px;
	}
	.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo .icones-app-store a img {
		height: 30px;
	}
	.pg-inicial .secao-aplicativo .aplicativo .sobre-aplicativo p {
		margin: 20px 0 20px;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-compartilhar {
		max-width: 77%;
	}
	.pg-inicial .secao-plantas .div-plantas .carrossel-planta .item-planta .button-zoom {
		max-width: 23%;
	}
	.pg-inicial .secao-diferenciais .diferenciais article ul li p {
		display: block;
	}
	.pg-inicial .secao-diferenciais .diferenciais article ul li {
		max-width: 100%;
	}
	.pg-inicial .secao-ficha-tecnica ul li {
		max-width: 100%;
	}
	.pg-inicial .menu-ancora nav a {
		padding: 5px 5px;
	}
	.pg-inicial .secao-destaque article .button-simulacao {
		padding: 18px 0;
		font-size: 13px;
		display: block;
		text-align: center;
	}
	.pg-inicial .secao-destaque article .div-button-simulacao {
		width: 100%;
	}
	.pg-inicial .secao-destaque article h1 {
		font-size: 38px;
		line-height: 40px;
	}
	.pg-inicial .secao-destaque .simulacao .video video {
		height: 210px;
	}
}

@media(max-width: 350px){}
/* MEDIA QUERY */